<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Get in touch</h4>
              <div class="d-flex flex-row">
                <h3>Write us a message</h3> 
                <div class="load pt-2" *ngIf="loading" >
               
                      <div class="spinner"></div>
                </div>
              
               </div>
            </div>
            <form class="form"  [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Name<span>*</span></label>
                    <input type="text" placeholder=""  formControlName="name" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }" [(ngModel)]="contactUs.name">
                    <div *ngIf="form.controls['name'].hasError('required')" class="invalid-feedback">
                      <div>Name is required</div>
                    </div>
                    <div *ngIf="form.controls['name'].hasError('minlength')" class="invalid-feedback">
                      <div>Name length must be higher than 6</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Subjects<span>*</span></label>
                    <input type="text" placeholder="" formControlName="subject" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && form.controls.subject.errors }" [(ngModel)]="contactUs.subject">
                    <div *ngIf="form.controls['subject'].hasError('required')" class="invalid-feedback">
                      <div>Subject is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Email<span>*</span></label>
                    <input type="email" placeholder="" formControlName="email" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors }" [(ngModel)]="contactUs.email">
                    <div *ngIf="form.controls['email'].hasError('required')" class="invalid-feedback">
                      <div>Email is required</div>
                    </div>
                    <div *ngIf="form.controls['email'].hasError('email')" class="invalid-feedback">
                      <div>Email is not valid</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Phone<span>*</span></label>
                    <input  type="text" placeholder="" formControlName="phone" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && form.controls.phone.errors }" [(ngModel)]="contactUs.phone">
                    <div *ngIf="form.controls['phone'].hasError('required')" class="invalid-feedback">
                      <div>Phone Number is required</div>
                    </div>
                    <div *ngIf="form.controls['phone'].hasError('pattern')" class="invalid-feedback">
                      <div>Phone Number must include only numbers</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group message">
                    <label>Your message<span>*</span></label>
                    <textarea placeholder="" formControlName="message" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && form.controls.message.errors }" [(ngModel)]="contactUs.message"></textarea>
                    <div *ngIf="form.controls['message'].hasError('required')" class="invalid-feedback">
                      <div>Message is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn " (click)="onSubmit()">Send Message</button>
                    <button type="reset" class="btn bg-secondary float-md-right" (click)="onReset()">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+216 92 099 369</li>
                <li>+216 92 099 369</li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li><a href="mailto:info@yourwebsite.com">ahlem.laajili@esprit.tn</a></li>
                <li><a href="mailto:info@yourwebsite.com">mouheb.mhamdi@esprit.tn</a></li>
                <li><a href="mailto:info@yourwebsite.com">mohamed.nalouti@esprit.tn</a></li>
                <li><a href="mailto:info@yourwebsite.com">chaima.kefi@esprit.tn</a></li>
                <li><a href="mailto:info@yourwebsite.com">sofiene.mokhaddem@esprit.tn</a></li>

              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>Technological Pole El Ghazela, Ariana Tunis</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
  <div id="myMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.629933167288!2d10.187515215250531!3d36.899200379928345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb75abbb1733%3A0x557a99cdf6c13b7b!2sesprit%20ecole%20d&#39;ing%C3%A9nieurs!5e0!3m2!1sfr!2stn!4v1638137806886!5m2!1sfr!2stn" width="1520" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
<!--/ End Map Section -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Newsletter</h4>
            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
              <input name="EMAIL" placeholder="Your email address" required="" type="email">
              <button class="btn">Subscribe</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop Newsletter -->
