<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Get in touch</h4>
              <h3>Write us a message</h3>
            </div>
            <form class="form" method="post" action="mail/mail.php">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Name<span>*</span></label>
                    <input name="name" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Subjects<span>*</span></label>
                    <input name="subject" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Email<span>*</span></label>
                    <input name="email" type="email" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Phone<span>*</span></label>
                    <input name="company_name" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group message">
                    <label>Your message<span>*</span></label>
                    <textarea name="message" placeholder=""></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn ">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+123 456-789-1120</li>
                <li>+522 672-452-1120</li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
                <li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
  <div id="myMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.629933167288!2d10.187515215250531!3d36.899200379928345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb75abbb1733%3A0x557a99cdf6c13b7b!2sesprit%20ecole%20d&#39;ing%C3%A9nieurs!5e0!3m2!1sfr!2stn!4v1638137806886!5m2!1sfr!2stn" width="1520" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
<!--/ End Map Section -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Newsletter</h4>
            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
              <input name="EMAIL" placeholder="Your email address" required="" type="email">
              <button class="btn">Subscribe</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop Newsletter -->
