<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a routerLink="/"><img src="../../../assets/store.png" width="100" alt="#"></a>
            </div>
            <p class="text">Trust is the basis of successful exchanges. For this we recommend that you always use the chat on our website and notify us of any inappropriate announcement or exchange. We are here for you !</p>
            <p class="call">Got Question? Call us 24/7<span><a href="tel:+216 50 566 033">+216 50 566 033   </a></span></p>
            <div class="sf-download-app">
              <a href="https://play.google.com/store?hl=fr&gl=US" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/googleplay/googleplay-button8.png"></a>
              <a href="https://www.apple.com/fr/app-store/" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none" class="mx-4"><img src="https://www.niftybuttons.com/itunes/itunesbutton1.png" style="width: 135px"></a>
          </div>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Money-back</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Get In Tuch</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>NO. 342 - Ariana soghra.</li>
                <li>012 Tunisia.</li>
                <li>info@esprit.com</li>
                <li>+216 50 566 033</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">4TWIN3</a>  -  All Rights Reserved.</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="../../../assets/payments.png" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->
