
<div class="box mt-5">


    <div class="card">
    
    
        <div class="modal-header">
          <h2 class="modal-title pt-5" id="modal-basic-title">Reset password</h2>
          
        </div>
        <div class="modal-body">
        <form class="w-75 mx-auto mb-5" #f1="ngForm" [formGroup]="myFormReset" (ngSubmit)="newPassword()">
          
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>New Password:</label>
                <input type="password"  class="form-control"   formControlName="password" [(ngModel)]="users.password">
                
              </div>
            </div>
           
            </div>
         
      
          <br>
          <div class="load " *ngIf="loading">
          
              <div class="d-flex justify-content-center">
                  <div class="spinner"></div>
                </div>
          
           
          </div>
          <div class="pt-5">
          <button class="btn btn-outline-warning " type="submit"
                  [disabled]="f1.invalid">
            Send
          </button>
          &nbsp;
        </div>
        </form>
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
    </div>