
<div class="wrapper fadeInDown">
    <div id="formContent">
  
  
              <div class="alert alert-danger" *ngIf="msg!=null">
                {{msg}}
              </div>
              <form class="w-75 mx-auto" [formGroup]="myForm" (ngSubmit)="login(myForm)">
                <button type="reset"  > <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button></button>
                <div class="fadeIn first pt-3 ">
                  <h1 class="display-4">LogIn ^_^</h1>
                </div>
  
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="alert alert-danger" *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                  <div  *ngIf="myForm.controls['email'].hasError('required')"> this is a required field</div>
                  <div  *ngIf="myForm.controls['email'].hasError('pattern')"> Invalid Pattern</div>
                  <div  *ngIf="myForm.controls['email'].hasError('minlength')">minlength is equal to 3</div>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="alert alert-danger" *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
                  <div *ngIf="myForm.controls['password'].hasError('required')">this is a required field</div>
  
                </div>
  
                <hr class="my-4 ">
                <p class="text-center">Don't have an account ? <a style="cursor: pointer;" (click)="openVerticallyCentered(add)" style="color:dodgerblue;text-decoration: none;"> Create an account</a>.</p>
                <p class="text-center"><a style="cursor: pointer;" (click)="openVerticallyCentered(resetpass)" style="color:dodgerblue;text-decoration: none;"> Forgot password?</a>.</p>
  
                <button type="submit" class="btn btn-outline-primary mt-3 mb-2" [disabled]="myForm.invalid">Login</button>
                <br>
              </form>
  

    </div>
  </div>

  <ng-template #add let-modal  >
    <div class="container">
        <div class="header">
          
          <h2 class="modal-title pt-5" id="modal-basic-title">Create Account</h2>
        
        </div>
        <div class="modal-body">
        
        <form class="w-75 mx-auto mb-5" #f1="ngForm" [formGroup]="myForm1" (ngSubmit)="addUser()">
          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name:</label>
                <input type="text"  class="form-control"   formControlName="prenom" [(ngModel)]="users.prenom">
               
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name:</label>
                <input  type="text" class="form-control" formControlName="nom" [(ngModel)]="users.nom">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>BirthDate:</label>
                <input  type="date" class="form-control" formControlName="dateNaissance" [(ngModel)]="users.dateNaissance">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email:</label>
                <input  type="email" class="form-control" formControlName="email"  [(ngModel)]="users.email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Password:</label>
                <input  type="password" class="form-control" formControlName="password"  [(ngModel)]="users.password">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Picture:</label>
                <input  type="file" class="form-control" name="picture" formControlName="picture"  (change)="onFileChanged($event)">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Job:</label>
                <select class="form-control" name="profession" formControlName="profession" [(ngModel)]="users.profession">
                  <option></option>
                  <option value="Docteur">Docteur</option>
                  <option value="Ingenieur">Ingenieur</option>
                  <option value="Etudiant">Etudiant</option>
                  <option value="Commercial">Commercial</option>
                  <option value="Cadre">Cadre</option>
                  <option value="Autre">Autre</option>
              </select> 
                
              </div>
      
             
            </div>
            </div>
           
          <br>
          <button class="btn btn-outline-success" type="submit"
                  [disabled]="f1.invalid">
                    save
                 </button>
          &nbsp;
        
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
            
            <div class="col-sm-4">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </div>
      
      </div>
      </div>
  </ng-template>
  <ng-template #resetpass let-modal  >
    <div class="container w-75 mx-auto  resetPass">
        <div class="heading">
          <h2 class="modal-title pt-5" id="modal-basic-title">Reset password</h2>
          
        </div>
        <div class="modal-body">
        <form class="w-75 mx-auto " #f1="ngForm" [formGroup]="myFormReset" (ngSubmit)="sendEmail()">
          
          <div class="row">
            <div class="col-sm-12">
              
                <div class="row mt-5">
                    <div class="col-sm-8 ">
                        <div class="form-group ">
                            <label>Email:</label>
                            <input type="email"  class="form-control"   formControlName="email" [(ngModel)]="users.email">
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group  pt-4">
                        <button class="btn btn-outline-success pt-3" type="submit"
                        [disabled]="f1.invalid" >
                              Send
                        </button>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="load pt-2" *ngIf="loading">
                  <div  class="d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="spinner"></div>
                      </div>
                
                  </div>
                </div>
             
            </div>
           
          </div>
         
          
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
            
            <div class="col-sm-4" >
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
            </div>
          </div>
       
        </div>

</ng-template>